## Cricket Scores Analysis

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
filePath = "odiData.csv"
odi = pd.read_csv(filePath)

In [4]:
odi.drop(columns=["Unnamed: 0", "Unnamed: 13"], errors='ignore', inplace=True)

In [5]:
odi.head()

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0
0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21367,86.23,49,96,20
1,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15
2,RT Ponting (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20
3,ST Jayasuriya (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.2,28,68,34
4,DPMD Jayawardene (Asia/SL),1998-2015,448,418,39,12650,144,33.37,16020,78.96,19,77,28

In [6]:
numeric_cols = ['Mat', 'Inns' ,'NO' ,'Runs' ,'HS' ,'Ave' ,'BF' ,'SR' ,'100' ,'50', '0']

In [13]:
for num in numeric_cols:
    odi[num] = pd.to_numeric(odi[num], errors='coerce')

In [15]:
odi.fillna({
    'Inns': odi['Inns'].median(),
    'NO': 0,
    'Runs': odi['Runs'].median(),
    'Ave': odi['Ave'].mean(),
    'BF': odi['BF'].median(),
    'SR': odi['SR'].mean(),
    '100': 0,
    '50': 0,
    '0': 0
}, inplace=True)